@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

:root {
    --branco-letras: #fefefe;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-family: 'Dancing Script', cursive;
}

body {
    background-image:linear-gradient(#0e5900, #25020f);
    max-width: 100vh;
}

.torta {
position: absolute;
}

.torta__chocolate {
    max-width: 380px;
    width: 100%;
    
}

.torta__maracuja {
    max-width: 380px;
    width: 100%;
    
}

.torta__morango {
    max-width: 380px;
    width: 100%;
    
}

.torta__limao {
    max-width: 380px;
    width: 100%;
    
}


ul li {
    color: var(--branco-letras);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
    font-size: clamp(12px, 3vw, 20px);
}