@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

:root {
    --branco-letras: #fefefe;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-family: 'Dancing Script', cursive;
}
