@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

:root {
    --branco-letras: #fefefe;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-family: 'Dancing Script', cursive;
    font-size: clamp(14px, 3vw, 35px);
}

body {
    text-align: center;
    background: linear-gradient(#7fffd4, #fefefe);
    min-height: 100vh;
    height: 100%;
    background-repeat: no-repeat;
    
}

#carousel-container {
	width: 500px;
	height: 332px;
	position: relative;
	margin: 50px auto 0;
    padding-top: 5%;

}

#carousel-container > div:first-child {
	overflow: hidden;
	max-width: 100%;
	margin: 0;
}

#carousel {
	position: relative;
	width: 5000px;
	height: 332px;
    padding: 0;
    margin: 0;
}

.animate{
	-webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}

.slide {
  list-style: none;
	position: relative;
	float: left;
	transform: translateX(-500px)
}

#controls{
	position: absolute;
    width: 620px;
	top: calc( 75% - 25px);
	margin: 0 -65px;
}

#controls span {
	width: 50px;
	cursor: pointer;
	opacity: 0.4;
}

#controls span:hover {
	opacity: 1;
}

#prev {
	float: left;
}

#next {
	float: right;
}

.torta {
position: absolute;
}


.torta__maracuja {
    max-width: 380px;
    width: 100%;
    
}

.torta__morango {
    max-width: 380px;
    width: 100%;
    
}

.torta__limao {
    max-width: 380px;
    width: 100%;
    
}

.footer-container{
    padding-top: 15%
}

.footer {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
    font-size: clamp(12px, 3vw, 20px);
    text-decoration: none;
    list-style-type: none;
    
}